@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


[x-cloak] {
    display: none !important;
}

.color-black {
  color: black;
}

.color-gray {
  color: #D1D5DB;
}
