@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


[x-cloak] {
    display: none !important;
}

.color-black {
  color: black;
}

.color-gray {
  color: #D1D5DB;
}

.gradient {
  background: linear-gradient(90deg, #68c2ff 0%, #ff8b00 100%);
}

/* .your-class {
    @apply your-rules
} */

@screen sm {
    /* .your-class {
        @apply your-rules-for-the-sm-breakpoint-and-above
    } */
}

@screen md  {
    /* .your-class {
        @apply your-rules-for-the-md-breakpoint-and-above
    } */
    .footer-bottom {
      height: calc(100vh - 160px);
      height: -o-calc(100vh - 160px); /* opera */
      height: -webkit-calc(100vh - 160px); /* google, safari */
      height: -moz-calc(100vh - 160px); /* firefox */
    }
}
    /* etc... */

/* .logodarkblue {
  color: #004a92;
}

.logoorange {
  color: #ff8b00;
}

.logoliteblue {
  color: #68c2ff;
} */
