@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


[x-cloak] {
    display: none !important;
}

.color-black {
  color: black;
}

.color-gray {
  color: #D1D5DB;
}

.gradient {
  background: linear-gradient(90deg, #68c2ff 0%, #ff8b00 100%);
}

/* .logodarkblue {
  color: #004a92;
}

.logoorange {
  color: #ff8b00;
}

.logoliteblue {
  color: #68c2ff;
} */
